{% extends 'base.html' %}
{% block title %}Страница продукта{% endblock %}
{% block content %}
<body>
    <h1>Информация о продукте</h1>
    <p>Имя: {{ product_name }}</p>
    <p>Описание: {{ product_description }}</p>
    <p>Фото: <img src="/media/{{ product_image }}" alt="{{ product_image }}"></p>
    <p>Категория: {{ product_category }}</p>
    <p>Цена: {{ product_cost }}</p>
    <p>Дата созданя: {{ product_created_at }}</p>
    <p>Дата последнего изменения: {{ product_updated_at }}</p>

</body>
{% endblock %}